* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
* :not(body) {
  /*  overflow-y: hidden; */
}

body {
  background-color: #0E0001;
  color: #FFFFFF;
}

h1 {
  font-family: "Protest Revolution", sans-serif;
  font-size: 2.5rem;
}

p {
  font-family: "Protest Revolution", sans-serif;
  overflow: hidden;
  line-height: 25px;
  word-spacing: 1px;
  color: #CACACA;
}

h3 {
  color: #E55A32;
  font-family: "Michroma", sans-serif;
  font-size: 1rem;
}

h2 {
  font-family: "Protest Revolution", sans-serif;
  font-size: 2rem;
}

input {
  background: none;
  border: none;
  margin-bottom: 1rem;
  border-bottom: 1px solid #CACACA;
  padding: 0.5rem;
  color: #E55A32;
  font-family: "Michroma", sans-serif;
}

input:focus {
  outline: none;
  border-bottom: 2px solid #E55A32;
}

img {
  overflow: hidden;
}

#header-mobile {
  width: 100%;
  position: fixed;
  z-index: 1;
  font-family: "Michroma", sans-serif;
  z-index: 100000000;
}
#header-mobile #top {
  width: 100%;
  height: 4rem;
  background-color: #0E0001;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#header-mobile #top #after {
  display: none;
}
#header-mobile #top i {
  position: absolute;
  right: 2rem;
  font-size: 1.5rem;
  color: #EF9834;
}
#header-mobile #top i:hover {
  cursor: pointer;
}
#header-mobile #top img {
  height: 2.5rem;
}
#header-mobile #container {
  display: none;
}
#header-mobile #container #bottom {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
#header-mobile #container #bottom a {
  text-decoration: none;
  color: #EF9834;
  padding: 0 0 2rem 0;
}
#header-mobile #container #bottom a:hover {
  text-decoration: underline;
}

#header-laptop {
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 8rem !important;
  display: flex;
  font-family: "Michroma", sans-serif;
  z-index: 100000000;
  display: none;
}
#header-laptop #top {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 6rem;
  justify-content: space-between;
}
#header-laptop img {
  height: 4.5rem;
}
#header-laptop #nav {
  display: flex;
  justify-content: space-around;
}
#header-laptop #nav a {
  text-decoration: none;
  color: #EF9834;
  padding-left: 1rem;
  margin-left: 1rem;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 7px;
  border: 2px solid #EF9834;
  color: #CACACA;
  background: none;
  cursor: pointer;
  font-family: "Michroma", sans-serif;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

button:hover {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
  box-shadow: 10px 12px 15px rgba(0, 0, 0, 0.3);
  background-color: #EF9834;
}

@media only screen and (min-width: 850px) {
  #header-mobile {
    display: none;
  }
  #header-laptop {
    display: block;
  }
}
#first {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#first #right {
  display: flex;
  flex-direction: column;
}
#first #right h1, #first #right h3, #first #right p {
  padding-bottom: 0.5rem;
}
#first #right form {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}
#first #right form button {
  margin-top: 2rem;
}

#second {
  position: relative;
}
#second iframe {
  width: 100%;
  height: 50vh;
}
#second #info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  border-radius: 7px;
  padding: 0 5% 5% 5%;
  overflow-y: hidden;
}
#second #info #bottom {
  background-color: #FFFFFF;
  opacity: 0.2;
  z-index: 0;
  padding: 5% 5% 10% 5%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#second #info #top {
  position: relative;
  z-index: 1;
  width: 80%;
}
#second #info #top h3 {
  padding-top: 5%;
}

@media only screen and (min-width: 500px) {
  #first {
    flex-direction: row;
  }
  #first #left {
    width: 50%;
  }
  #first #right {
    width: 50%;
    padding: 0 5%;
  }
}
@media only screen and (min-width: 1000px) {
  #second iframe {
    height: 70vh;
  }
  #second #info {
    left: 25%;
    width: auto;
    padding: 0 2rem 2rem 2rem;
    border-radius: 7px;
  }
  #second #info p {
    width: 80%;
  }
}/*# sourceMappingURL=style.css.map */