* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
* :not(body) {
  overflow-y: hidden;
}

body {
  background-color: #0E0001;
  color: #FFFFFF;
}

h1 {
  font-family: "Protest Revolution", sans-serif;
  font-size: 2.5rem;
}

p {
  font-family: "Protest Revolution", sans-serif;
  overflow: hidden;
  line-height: 25px;
  word-spacing: 1px;
  color: #CACACA;
}

h3 {
  color: #E55A32;
  font-family: "Michroma", sans-serif;
  font-size: 1rem;
}

h2 {
  font-family: "Protest Revolution", sans-serif;
  font-size: 2rem;
}

a {
  font-family: "Protest Revolution", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  letter-spacing: 0.5rem;
}

input {
  background: none;
  border: none;
  margin-bottom: 1rem;
  border-bottom: 1px solid #CACACA;
  padding: 0.5rem;
  color: #E55A32;
  font-family: "Michroma", sans-serif;
}

input:focus {
  outline: none;
  border-bottom: 2px solid #E55A32;
}

img {
  overflow: hidden;
}

#nav {
  z-index: 10000;
  height: 10rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  height: 20%;
  align-items: center;
}
#nav #nav-icon {
  position: absolute;
  left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
}
#nav #nav-icon input {
  content: "";
  width: 2rem;
  height: 2px;
  background-color: #E03C31;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 15px;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  cursor: pointer;
  transition: opacity 200ms ease-in-out, width 200ms ease-in-out;
}
#nav #nav-icon input:checked {
  opacity: 0;
  width: 0rem;
}
#nav #nav-icon:has(input:checked)::before {
  rotate: 25deg;
  width: 34px;
}
#nav #nav-icon:has(input:checked)::after {
  rotate: -25deg;
  width: 34px;
}
#nav #nav-icon::before,
#nav #nav-icon::after {
  content: "";
  width: 2rem;
  height: 2px;
  background-color: #E03C31;
  border-radius: 15px;
  transform-origin: left center;
  transition: rotate 200ms ease-in-out, width 200ms ease-in-out;
}
#nav img {
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#content {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  display: none;
  opacity: 0;
}
#content #background {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #460601;
  opacity: 0.9;
}
#content #container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding-left: 10%;
  justify-content: center;
}
#content #container .each {
  height: 4rem;
  position: relative;
  width: 100%;
}
#content #container .each img {
  position: relative;
  width: 20%;
  opacity: 0;
}
#content #container .each a {
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
  color: #FFFFFF;
  cursor: pointer;
  transition: font-size 200ms ease-in-out, -webkit-text-decoration 200ms ease-in-out;
  transition: font-size 200ms ease-in-out, text-decoration 200ms ease-in-out;
  transition: font-size 200ms ease-in-out, text-decoration 200ms ease-in-out, -webkit-text-decoration 200ms ease-in-out;
}
#content #container .each a:after {
  content: "";
  width: 0px;
  height: 2px;
  display: block;
  background: #FFFFFF;
  transition: width 200ms ease-in-out;
  margin-top: 0.5rem;
}
#content #container .each a:hover:after {
  width: 100%;
}
#content #container #social-media {
  margin: 5rem 0 2rem 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  height: 2.1rem;
}
#content #container #social-media i {
  font-size: 2rem;
  color: #CACACA;
  transition: font-size 200ms ease-in-out;
}
#content #container #social-media i:hover {
  font-size: 2.1rem;
}
#content #container #log a {
  font-family: "Michroma", sans-serif;
  color: #CACACA;
  font-size: 1rem;
  transition: font-size 200ms ease-in-out;
}
#content #container #log a:after {
  content: "";
  width: 0px;
  height: 2px;
  display: block;
  background: #CACACA;
  transition: width 200ms ease-in-out;
  margin-top: 0.5rem;
}
#content #container #log a:hover:after {
  width: 100%;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 7px;
  border: 2px solid #EF9834;
  color: #CACACA;
  background: none;
  cursor: pointer;
  font-family: "Michroma", sans-serif;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

button:hover {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
  box-shadow: 10px 12px 15px rgba(0, 0, 0, 0.3);
  background-color: #EF9834;
}

@media only screen and (min-width: 500px) {
  #content #container #social-media {
    width: 50%;
  }
  #content #container #social-media i {
    font-size: 1.5rem;
  }
  #content #container #log {
    width: -moz-max-content;
    width: max-content;
  }
}
@media only screen and (min-width: 1000px) {
  #content #container .each {
    height: -moz-max-content;
    height: max-content;
    margin-bottom: 0;
  }
  #content #container #social-media {
    width: 30%;
  }
  #nav img {
    left: 20%;
    height: 60%;
  }
}
#first {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /*
  #left{
      width: 100%;
      #pictures{
          position: relative;
          width: 100%;
          :not(#burger){
              display: none;
          }
          img{
              position: absolute;
          }
          #burger{
              width: 100%;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);   
              animation: 3s ease-in-out 1s infinite alternate burger;
          }
          @keyframes burger {
              to {scale: 1.05; left:55%}
          }
      }
  }*/
}
#first #right {
  display: flex;
  flex-direction: column;
}
#first #right h1, #first #right h3, #first #right p {
  padding-bottom: 0.5rem;
}
#first #right form {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}
#first #right form button {
  margin-top: 2rem;
}

#second {
  position: relative;
}
#second iframe {
  width: 100%;
  height: 50vh;
}
#second #info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  border-radius: 7px;
  padding: 0 5% 5% 5%;
  overflow-y: hidden;
}
#second #info #bottom {
  background-color: #FFFFFF;
  opacity: 0.2;
  z-index: 0;
  padding: 5% 5% 10% 5%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#second #info #top {
  position: relative;
  z-index: 1;
  width: 80%;
}
#second #info #top h3 {
  padding-top: 5%;
}

@media only screen and (min-width: 500px) {
  #first {
    flex-direction: row;
  }
  #first #left {
    width: 50%;
  }
  #first #left #pictures #burger {
    width: 100%;
  }
  @keyframes burger {
    to {
      scale: 1.05;
    }
  }
  #first #right {
    width: 50%;
    padding: 0 5%;
  }
}
@media only screen and (min-width: 1000px) {
  #first #left #pictures :not(#burger) {
    display: block;
  }
  #first #left #pictures #burger {
    width: 34%;
    transform: rotate(30deg);
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    animation: none;
    z-index: 1;
    animation: 3s ease-in-out 1s infinite alternate burger;
  }
  @keyframes burger {
    to {
      width: 35.5%;
      top: 49%;
      left: 31%;
    }
  }
  #first #left #pictures #green_onion1 {
    width: 10%;
    transform: rotate(20deg);
    top: 10%;
    left: 20%;
    z-index: 2;
    animation: 3s ease-in-out 1s infinite alternate greenOnion1;
  }
  @keyframes greenOnion1 {
    to {
      rotate: -5deg;
      left: 19.5%;
      filter: blur(1px);
      width: 10.1%;
    }
  }
  #first #left #pictures #green_onion2 {
    width: 17%;
    transform: rotate(60deg);
    top: 60%;
    left: 25%;
    z-index: 13;
    filter: blur(1px);
    animation: 3s ease-in-out 1s infinite alternate greenOnion2;
  }
  @keyframes greenOnion2 {
    to {
      rotate: 3deg;
      left: 24%;
      filter: blur(2px);
      width: 17.5%;
    }
  }
  #first #left #pictures #red_onion1 {
    width: 4%;
    transform: rotate(-30deg);
    top: 40%;
    left: 43%;
    z-index: 4;
    filter: blur(1px);
    animation: 3s ease-in-out 1s infinite alternate redOnion1;
  }
  @keyframes redOnion1 {
    to {
      rotate: 4deg;
      filter: blur(2px);
      width: 4.2%;
      left: 42.5%;
    }
  }
  #first #left #pictures #red_onion2 {
    width: 7%;
    transform: rotate(-90deg);
    top: 25%;
    left: 15%;
    z-index: 5;
    filter: blur(1px);
    animation: 3s ease-in-out 1s infinite alternate redOnion2;
  }
  @keyframes redOnion2 {
    to {
      rotate: 6deg;
    }
  }
  #first #left #pictures #red_onion3 {
    width: 9%;
    top: 55%;
    left: 40%;
    z-index: 6;
    filter: blur(1px);
    animation: 3s ease-in-out 1s infinite alternate redOnion3;
  }
  @keyframes redOnion3 {
    to {
      rotate: 4deg;
      filter: blur(3px);
      width: 9.05%;
      left: 39%;
    }
  }
  #first #left #pictures #red_onion4 {
    width: 15%;
    transform: rotate(180deg);
    top: 75%;
    left: 10%;
    z-index: 7;
    filter: blur(2px);
    animation: 3s ease-in-out 1s infinite alternate redOnion4;
  }
  @keyframes redOnion4 {
    to {
      rotate: -5deg;
      filter: blur(5px);
      width: 15.3%;
      left: 9.5%;
    }
  }
  #first #left #pictures #tomato1 {
    width: 7%;
    top: 35%;
    left: 45%;
    z-index: 8;
    filter: blur(2px);
    animation: 3s ease-in-out 1s infinite alternate rotateRight;
  }
  #first #left #pictures #tomato2 {
    width: 8%;
    top: 35%;
    left: 5%;
    z-index: 9;
    filter: blur(2px);
    animation: 3s ease-in-out 1s infinite alternate rotateLeft;
  }
  #first #left #pictures #tomato3 {
    width: 12%;
    top: 55%;
    left: 20%;
    z-index: 10;
    filter: blur(3px);
    animation: 3s ease-in-out 1s infinite alternate rotateRight;
  }
  #first #left #pictures #tomato4 {
    width: 15%;
    top: 75%;
    left: 40%;
    z-index: 11;
    filter: blur(2px);
    animation: 3s ease-in-out 1s infinite alternate tomato4;
  }
  @keyframes tomato4 {
    to {
      rotate: 4deg;
      filter: blur(4px);
      width: 15.3%;
      left: 39.5%;
    }
  }
  #first #left #pictures #salt2 {
    width: 61%;
    left: -5%;
    bottom: 0%;
    z-index: 0;
    animation: 3s ease-in-out 1s infinite alternate salt2;
    filter: blur(2px);
  }
  @keyframes salt2 {
    to {
      filter: blur(3px);
      width: 60.5%;
      left: -6%;
    }
  }
  #first #left #pictures #salt1 {
    width: 61%;
    right: -20%;
    top: 0%;
    transform: scaleY(-1);
    animation: 3s ease-in-out 1s infinite alternate salt1;
    filter: blur(2px);
  }
  @keyframes salt1 {
    to {
      filter: blur(3px);
      width: 60.5%;
      right: -19%;
    }
  }
  #first #left #pictures #smoke {
    width: 62%;
    left: 20%;
    top: -10%;
    z-index: 0;
    animation: 3s ease-in-out 1s infinite alternate smoke;
  }
  @keyframes smoke {
    to {
      width: 59%;
      top: 0%;
    }
  }
  #first #left #pictures #salt {
    width: 61%;
    z-index: 15;
    top: 20%;
    filter: blur(2px);
    animation: 3s ease-in-out 1s infinite alternate salt;
  }
  @keyframes salt {
    to {
      width: 60%;
      filter: blur(3px);
    }
  }
  @keyframes rotateLeft {
    to {
      rotate: -10deg;
    }
  }
  @keyframes rotateRight {
    to {
      rotate: 10deg;
    }
  }
  #second iframe {
    height: 70vh;
  }
  #second #info {
    left: 25%;
    width: auto;
    padding: 0 2rem 2rem 2rem;
    border-radius: 7px;
  }
  #second #info p {
    width: 80%;
  }
}/*# sourceMappingURL=style.css.map */