@import "navbar.css";
body{
  background: #101010; 
}

.navbar{
  width: 85%; 
  margin: auto; 
  padding: 35px 0; 
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  background: #101010; 
  
}

.logo{
  width: 120px; 
  cursor: pointer; 
}

.navbar ul li{
  list-style: none; 
  display: inline-block; 
  margin: 0 20px;
  position: relative;  

}

.H{
  color: #EF9834; 
   font-family : 'Michroma', sans-serif;
}
.O{
  color: #EA7933;
  font-family: 'Michroma', sans-serif;
}

.R{
  color: #E55A32;
  font-family: 'Michroma', sans-serif;
}

.C{
  color: #E03C31;
  font-family: 'Michroma', sans-serif;
}

.CU{
  color: white; 
  font-family: 'Michroma', sans-serif;
}
.navbar ul li a{
  text-decoration: none; 
  text-transform: uppercase; 

}

.navbar ul li::after{
  content: '';
  height: 3px; 
  width: 0;
  background: #EF9834;
  position: absolute; 
  left: 0; 
  bottom: -10px; 
  transition: 0.5s; 
}

.navbar ul li:hover::after{
  width: 100%;
}

*{
  margin:0;
  padding: 0;
  font-family : 'Michroma', sans-serif;
}


.contact-section h1{
  text-align: center; 
  color: #ddd; 
}

.border{
  width: 100px; 
  height: 10px; 
  background: #ef9834; 
  margin: 40px auto; 

}

.contact-form{
  width: 600px; 
  margin: auto; 
  padding: 0 10px; 
  overflow: hidden;

}

.contact-form-text{
  display: block; 
  width: 100%; 
  box-sizing: border-box; 
  margin: 16px 0; 
  border: 0; 
  background: #313131; 
  padding: 20px 40px; 
  outline: none; 
  color: white; 
  transition: 0.5s;
  border-radius: 50px;
  opacity: 0.8; 
}

.contact-form-text:focus{
  box-shadow: 0 0 10px 4px #ef9834; 
}

textarea.contact-form-text{
  resize: none; 
  height: 120px; 
}

.contact-form-btn{
  float: left;
  border: 0; 
  background: #ef9834; 
  color: white; 
  padding: 12px 50px; 
  border-radius: 20px; 
  cursor: pointer; 
  transition: 0.5s; 
}

.contact-form-btn:hover{
  background: #ef9834; 
}

section{
  padding: 250px 15%; 
}




@media (max-width:800px) {
  .contact-form-text{
    width: 80vw;
  }
}

.contact{
  background-image: url("images/contactus1.png");
 
}