*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    background: url(images/eventsbg.png);
}

.container{
    background: url(images/eventsbg.png);
    padding:15px 9%;
    padding-bottom: 100px;
}

.container .heading{
    text-align: center;
    padding-bottom: 15px;
    color:#ef9834;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
    font-family: 'Protest Revolution', sans-serif;
}

.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:15px;
}

.container .box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: none;
    text-align: center;
    padding:30px 20px;
}

.container .box-container .box img{
    width: 300px;
    height: 400px;
    background-size: cover;
}

.container .box-container .box h3{
    color:#ef9834;
    font-size: 22px;
    padding:10px 0;
    font-family: 'Protest Revolution', sans-serif;
}

.container .box-container .box p{
    color:white;
    font-size: 15px;
    line-height: 1.8;
    font-family: 'Protest Revolution', sans-serif;
}

.container .box-container .box .btn{
    margin-top: 10px;
    display: inline-block;
    background: transparent;
    border: 2px solid #EF9834;
    border-radius: 50px;
    padding: 8px 25px;
    color: white;
    
}


.container .box-container .box .btn:hover{
    letter-spacing: 1px;
    border: none;
    color: black;
    background: #EF9834;
    transition: 0.5s;
    z-index: -1;
}

.container .box-container .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}


@media (max-width:768px){
    .container{
        padding:20px;
    }
}