@import "../Common/common.scss";

#first{
    width: 100%;
    position: fixed;
    overflow-y: hidden;
    background-color: $black;
    #right{
        #fire{
            position: absolute;
            //height: 100vh;
            top: 0;
            left: 0;
            display: none;
            width: 100%;
        }
        #pictures{
            position: relative;
            height: 100vh;
            width: 100%;
            :not(#burger){
                display: none;
            }
            img{
                position: absolute;
            }
            #burger{
                width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);   
                animation: 3s ease-in-out 1s infinite alternate burger;
            }
            @keyframes burger {
                to {scale: 1.05; left:55%}
            }
        }
    }
    #left{
        padding-left: 4rem;
        width: 75%;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        h1{
            font-size: $h1;
            color: $orange;
        }
    }
}
#second{
    padding: 4rem;
    margin-top: 100vh;
    background-color: $black;
    position: relative;
    img{
        overflow-y: hidden;
    }
    p{
        color: $gray;
    }
    #top{
        padding: 4rem 0;
        z-index: 1;
        #left{
            h2{
                margin: .5rem 0;
            }
        }
    }
    #bottom{
        z-index: 1;
        .rows{
            display: flex;
            flex-direction: column;
            padding: 3rem 0;
            width: 100%;
            img{
                width: 100%;
            }
            h3{
                padding: 2rem 0 .5rem 0;
            }
        }
        div:nth-child(even){
            .left{
                order: 2;
            }
        }
    }
    #background{
        width: 100%;
        height: 250%;
        position: absolute;
        top: 100vh;
        left: 0;
        z-index: -1;
        display: none;
        img{
            position: absolute;
        }
        img:nth-child(1){
            width: 20%;
            top: 20%;
            left: 17%;
        }
        img:nth-child(2){
            width: 22%;
            top: 11%;
            left: 32%;
        }
        img:nth-child(3){
            width: 15%;
            top: 27%;
            left: 40%;
        }
        img:nth-child(4){
            width: 30%;
            top: 40%;
            right: 15%;
        }
        img:nth-child(5){
            width: 10%;
            top: 34%;
            right: 17%;
        }
        img:nth-child(6){
            width: 20%;
            top: 50%;
            left: 40%;
            transform: rotate(90deg);
        }
        img:nth-child(7){
            width: 17%;
            top: 65%;
            left: 15%;
            transform: rotate(90deg);
        }
        img:nth-child(8){
            width: 10%;
            top: 59%;
            left: 15%;
            transform: rotate(45deg);
        }
        img:nth-child(9){
            width: 17%;
            top: 70%;
            left: 40%;
        }
        img:nth-child(10){
            width: 45%;
            top: 70%;
            left: 40%;
        }
        img:nth-child(11){
            width: 15%;
            top: 85%;
            right: 42%;
        }
    }
}

#third{
    padding: 14%;
    position: relative;
    background-color: $black;
    #intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
        text-align: center;
        hr{
            width: 10%;
            margin-top: 1%;
            border: 1px solid $red;
        }
        p{
            padding: 1% 20%;
        }
    }
    #third-container{
        position: relative;
        width: 80%;
        //top: 15%;
        left: 50%;
        transform: translate(-50%, 0%);
        #vid-wrapper{
            height: 100%;
            z-index: 3;
            video{
                width: 100%;
            }
            #darker{
                width: 100%;
                height: 15%;
                position: absolute;
                top: 0;
                box-shadow: 0px 0px 4rem 4rem $black inset;
            }
        }
        #members{
            padding-top: 20%;
            position: relative;
            z-index: 1;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .member{
                width: 100%;
                padding-bottom: 20%;
                img{
                    width: 100%;
                }
                #right{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                }   
            }
        }
    }
}

//RESPONSIVE
@media only screen and (min-width: 500px){
    $h1: 3rem !important; 
    #first{
        #right{
            #fire{
                display: block;
            }
            #pictures{
                #burger{
                    width: 100%;
                }
                @keyframes burger {
                    to {scale: 1.05;}
                }
            }
        }
        #left{
            width: 50%;
            h1{
                font-size: $h1;
            }
            p{
                margin: 2rem 0;
            }
        }
    }
    #second{
        #bottom{
            .rows{
                flex-direction: row;
                justify-content: space-between;
            }
            div:nth-child(even){
                .left{
                    order: 0;
                    text-align: right;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 50%;
                    padding-right: 5%;
                }
                .right{
                    width: 50%;
                }
            }
            div:nth-child(odd){
                .right{
                    order: 0;
                    text-align: left;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 50%;
                    padding-left: 5%;
                }
                .left{
                    width: 50%;
                }
            }
        }
    }
}
@media only screen and (min-width: 1000px){
    $h1: 4rem !important; 
    #first{
        #right{
            #pictures{
                :not(#burger){
                    display: block;
                }
                #burger{
                    width: 34%;
                    transform: rotate(30deg);
                    top: 50%;
                    left: 30%;
                    transform: translate(-50%, -50%);
                    animation: none;
                    z-index: 1;
                    animation: 3s ease-in-out 1s infinite alternate burger;
                }
                @keyframes burger {
                    to {width: 35.5%; top: 49%; left: 31%;}
                }
                #green_onion1{
                    width: 10%;
                    transform: rotate(20deg);
                    top: 10%;
                    left: 20%;
                    z-index: 2;
                    animation: 3s ease-in-out 1s infinite alternate greenOnion1;

                }
                @keyframes greenOnion1{
                    to { rotate: -5deg; left: 19.5%; filter: blur(1px); width: 10.1%;;}
                }
                #green_onion2{
                    width: 17%;
                    transform: rotate(60deg);
                    top: 60%;
                    left: 25%;
                    z-index: 13;
                    filter: blur(1px);
                    animation: 3s ease-in-out 1s infinite alternate greenOnion2;
                }
                @keyframes greenOnion2{
                    to { rotate: 3deg; left: 24%; filter: blur(2px); width: 17.5%;}
                }
                #red_onion1{
                    width: 4%;
                    transform: rotate(-30deg);
                    top: 40%;
                    left: 43%;
                    z-index: 4;
                    filter: blur(1px);
                    animation: 3s ease-in-out 1s infinite alternate redOnion1;
                }
                @keyframes redOnion1{
                    to { rotate: 4deg; filter: blur(2px); width: 4.2%; left: 42.5%;}
                }
                #red_onion2{
                    width: 7%;
                    transform: rotate(-90deg);
                    top: 25%;
                    left: 15%;
                    z-index: 5;
                    filter: blur(1px);
                    animation: 3s ease-in-out 1s infinite alternate redOnion2;
                }
                @keyframes redOnion2{
                    to { rotate: 6deg;}
                }
                #red_onion3{
                    width: 9%;
                    top: 55%;
                    left: 40%;
                    z-index: 6;
                    filter: blur(1px);
                    animation: 3s ease-in-out 1s infinite alternate redOnion3;
                }
                @keyframes redOnion3{
                    to { rotate: 4deg; filter: blur(3px); width: 9.05%; left: 39%;}
                }
                #red_onion4{
                    width: 15%;
                    transform: rotate(180deg);
                    top: 75%;
                    left: 10%;
                    z-index: 7;
                    filter: blur(2px);
                    animation: 3s ease-in-out 1s infinite alternate redOnion4;
                }
                @keyframes redOnion4{
                    to { rotate: -5deg; filter: blur(5px); width: 15.3%; left: 9.5%;}
                }
                #tomato1{
                    width: 7%;
                    top: 35%;
                    left: 45%;
                    z-index: 8;
                    filter: blur(2px);
                    animation: 3s ease-in-out 1s infinite alternate rotateRight;
                }
                #tomato2{
                    width:8%;
                    top: 35%;
                    left: 5%;
                    z-index: 9;
                    filter: blur(2px);
                    animation: 3s ease-in-out 1s infinite alternate rotateLeft;
                }
                #tomato3{
                    width: 12%;
                    top: 55%;
                    left: 20%;
                    z-index: 10;
                    filter: blur(3px);
                    animation: 3s ease-in-out 1s infinite alternate rotateRight;
                }
                #tomato4{
                    width: 15%;
                    top: 75%;
                    left: 40%;
                    z-index: 11;
                    filter: blur(2px);
                    animation: 3s ease-in-out 1s infinite alternate tomato4;
                }
                @keyframes tomato4{
                    to { rotate: 4deg; filter: blur(4px); width: 15.3%; left: 39.5%;}
                }
                #salt2{
                    width: 61%;
                    left: -5%;
                    bottom: 0%;
                    z-index: 0;
                    animation: 3s ease-in-out 1s infinite alternate salt2;
                    filter: blur(2px);
                }
                @keyframes salt2{
                    to { filter: blur(3px); width: 60.5%; left: -6%;}
                }
                #salt1{
                    width: 61%;
                    right: -20%;
                    top: 0%;
                    transform: scaleY(-1);
                    animation: 3s ease-in-out 1s infinite alternate salt1;
                    filter: blur(2px);
                }
                @keyframes salt1{
                    to { filter: blur(3px); width: 60.5%; right: -19%;}
                }
                #smoke{
                    width: 62%;
                    left: 20%;
                    top: -10%;
                    z-index: 0;
                    animation: 3s ease-in-out 1s infinite alternate smoke;
                }
                @keyframes smoke {
                    to {width: 59%; top: 0%;}
                }
                #salt{
                    width: 61%;
                    z-index: 15;
                    top: 20%;
                    filter: blur(2px);
                    animation: 3s ease-in-out 1s infinite alternate salt;
                }
                @keyframes salt {
                    to {width: 60%; filter: blur(3px);}
                }
                @keyframes rotateLeft{
                    to { rotate: -10deg;}
                }
                @keyframes rotateRight{
                    to { rotate: 10deg;}
                }
            }
        }
        #left{
            width: 30%;
            position: absolute;
            right: 10%;
            h1{
                font-size: $h1;
                line-height: 4rem;
            }

        }
    }
    #second{
        padding: 4rem 20%;
        #top{
            display: flex;
            flex-direction: row;
            #left{
                width: 50%;
                text-align: right;
                padding-right: 10%;
            }
            p{
                width: 50%;
            }
        }
        #bottom{
            .rows{
                padding: 1rem 0;
            }
            div:nth-child(1){
                .left{
                    display: flex;
                    justify-content: right;
                    img{
                        width: 70%;  
                        margin-right: 10%;               
                    }                }
                .right{
                    width: 40%;
                }
            }
            div:nth-child(2){
                .right{
                    width: 53%;
                }
                .left{
                    width: 35%;
                    text-align: right;
                }
            }
            div:nth-child(3){
                .left{
                    display: flex;
                    justify-content: right;
                    img{
                        width: 85%;  
                        margin-right: 10%;               
                    }                }
                .right{
                    width: 40%;
                    padding-left: 20%;
                }
            }
            div:nth-child(4){
                .right{
                    width: 50%;
                    margin-left: 15%;
                    img{
                        width: 70%;
                    }
                }
                .left{
                    width: 35%;
                    text-align: right;
                }
            }
        }
        #background{
            display: block;
        }
    }
    #third{
        #third-container{
            #vid-wrapper{
                #darker{
                    height: 100%;
                }
                margin-bottom: 10%;
            }
            #members{
                //position: absolute;
                padding-top: 0;
                top: 0%;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                .member{
                    display: flex;
                    flex-direction: row;
                    width: 25rem;
                    padding: 5% 0;
                    #right{
                        text-align: left;
                        align-items: start;
                    }
                }
            }
        }
    }
}


