//FONTS
$michroma: 'Michroma', sans-serif;
$serif: 'DM Serif Display', serif;
$protest: 'Protest Revolution', sans-serif;

//COLORS:
$black: #0E0001;
$yellow: #EF9834;
$orange: #E55A32;
$red: #E03C31;
$white: #FFFFFF;
$gray: #CACACA;
$dark-gray: #2A2B30;

$h1: 2.5rem;
$h2: 2rem;
$h3: 1rem;
*{
    padding:0;
    margin:0;
    overflow-x: hidden;
    :not(body){
       overflow-y: hidden; 
    }
}
body{
    background-color: $black;
    color: $white;
}
h1{
    font-family: $protest;
    font-size: $h1;
}
p{
    font-family: $protest;
    overflow: hidden;
    line-height: 25px;
    word-spacing: 1px;
    color: $gray;
}
h3{
    color: $orange;
    font-family: $michroma;
    font-size: $h3;
}
h2{
    font-family: $protest;
    font-size: $h2;
}
a{
    font-family: $protest;
    font-size: 1.5rem;
    text-decoration: none;
    letter-spacing: .5rem;
}
input{
    background: none;
    border: none;
    margin-bottom: 1rem;
    border-bottom: 1px solid $gray;
    padding: .5rem;
    color: $orange;
    font-family: $michroma;
}
input:focus{
    outline: none;
    border-bottom: 2px solid $orange;
}
img{
    overflow: hidden;
}


#nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    #nav{
        position: relative;
        display: flex;
        flex-direction: row;
        height: 20%;
        align-items: center;
        #nav-icon{
            position: absolute;
            left: 10%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            width: max-content;
            cursor: pointer;
            input{
                content: "";
                width: 2rem;
                height: 2px;
                background-color: $red;
                appearance: none;
                border-radius: 15px;
                padding: 0;
                margin: 0;
                border: none;
                outline: none;
                cursor: pointer;
                transition: opacity 200ms ease-in-out, width 200ms ease-in-out;
            }
            input:checked{
                opacity: 0;
                width: 0rem; 
            }
            
        }
        #nav-icon:has(input:checked)::before{
            rotate: 25deg;
            width: 34px;
        }
        #nav-icon:has(input:checked)::after{
            rotate: -25deg;
            width: 34px;
        }
        #nav-icon::before, 
        #nav-icon::after{
            content: "";
            width: 2rem;
            height: 2px;
            background-color: $red;
            border-radius: 15px;
            transform-origin: left center;
            transition: rotate 200ms ease-in-out, width 200ms ease-in-out;
        }
        img{
            height: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    #content{
        width: 100%;
        height: 100%;
        position: absolute;
        display: none;
        opacity: 0;
        #background{
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: #460601;
            opacity: .9;
        }
        #container{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
            height: 100%;
            padding-left: 10%;
            .each{
                height: 3rem;
                position: relative;
                width: 100%;
                margin-bottom: 20%;             
                img{
                    position: relative;
                    width: 20%;
                    opacity: 0;
                }
                a{
                    left: 0;
                    top: 50%;
                    transform: translate(0, -50%);
                    position: absolute;
                    color: $white;
                    cursor: pointer;
                    transition: font-size 200ms ease-in-out, text-decoration 200ms ease-in-out;
                }
                a:after {
                    content: '';
                    width: 0px;
                    height: 2px;
                    display: block;
                    background: $white;
                    transition: width 200ms ease-in-out;
                    margin-top: .5rem;
                }
                a:hover:after {
                    width: 100%;
                }
            }
            #social-media{
                margin: 5rem 0 2rem 0;
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: space-between;
                //background-color: aqua;
                height: 2.1rem;
                i{
                    font-size: 2rem;
                    color: $gray;
                    transition: font-size 200ms ease-in-out
                }
                i:hover{
                    font-size: 2.1rem;
                }
            }
            #log{
                a{
                    font-family: $michroma;
                    color: $gray;
                    font-size: 1rem;
                    transition: font-size 200ms ease-in-out;
                }
                a:after {
                    content: '';
                    width: 0px;
                    height: 2px;
                    display: block;
                    background: $gray;
                    transition: width 200ms ease-in-out;
                    margin-top: .5rem;
                }
                a:hover:after {
                    width: 100%;
                }
            }
        }
        
    }
    
}

button{
    padding: 0.5rem 1rem;
    border-radius: 7px;
    border: 2px solid $yellow;
    color: $gray;
    background: none;
    cursor: pointer;
    font-family: $michroma;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
button:hover {
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    box-shadow: 10px 12px 15px rgba(0, 0, 0, 0.3);
    background-color: $yellow;
}




@media only screen and (min-width: 500px){
    #nav-bar{
        #content{
            #container{
                #social-media{
                    width: 50%;
                    i{
                        font-size: 1.5rem;
                    }
                }
                #log{
                    width: max-content;
                }
            }
        }
    }
}

@media only screen and (min-width: 1000px){
    #nav-bar{
        #content{
            #container{
                .each{
                    height: max-content;
                    margin-bottom: 0;
                }
                #social-media{
                    width: 30%;
                }
            }
        }
        #nav{
            img{
                left: 20%;
                height: 60%;
            }
        }
    }
}

